<form>
    <div class="row">
        <div class="col-md-12">
            <h4>Personal</h4>
            <hr class="red">
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Nombre<span class="control-label">*</span>:</label>
                <input class="form-control" maxlength="50"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Apellido paterno<span class="control-label">*</span>:</label>
                <input class="form-control" maxlength="50"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Apellido materno<span class="control-label">*</span>:</label>
                <input class="form-control" maxlength="50"/>
                </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>RFC<span class="control-label">*</span>:</label>
                <input class="form-control" maxlength="13"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>CURP<span class="control-label">*</span>:</label>
                <input class="form-control" maxlength="18"/> 
            </div>
        </div>
        <div class="col-md-12">
            <h4>Datos de Contacto</h4>
            <hr class="red">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Correo electrónico<span class="control-label">*</span>:</label>
                <input class="form-control" maxlength="50"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Teléfono<span class="control-label">*</span>:</label>
                <input class="form-control" maxlength="10"/>
            </div>
        </div>
        <div class="col-md-12">
            <h4>Datos Laborales</h4>
            <hr class="red">
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Puesto<span class="control-label">*</span>:</label>
                <select class="form-control">
                        <option value="null"
                                disabled>
                                Seleccione una opción
                        </option> 
                </select>
            </div>
        </div>
        <div class="col-md-3">
                <div class="form-group">
                    <label>Tope costo mensual<span class="control-label">*</span>:</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" maxlength="12">
                    </div>
                </div>
        </div>   
    </div>
</form>
    
